In [2]:
import pandas as pd

df = pd.read_csv("financial_data.csv")
df.head()

         Date  Department Expense_Category  Expense_Amount  Revenue Region
0  05-01-2023       Sales        Marketing           45000   180000  North
1  10-01-2023          IT         Software           30000        0  North
2  15-01-2023          HR         Salaries           40000        0  North
3  20-01-2023  Operations        Utilities           15000        0  North
4  05-02-2023       Sales           Travel           20000   210000   East

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("financial_data.csv")

# FIX: handle mixed date formats
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, format='mixed')

df['Month'] = df['Date'].dt.to_period('M')

df.head()

,Date,Department,Expense_Category,Expense_Amount,Revenue,Region,Month
0,2023-01-05,Sales,Marketing,45000,180000,North,2023-01
1,2023-01-10,IT,Software,30000,0,North,2023-01
2,2023-01-15,HR,Salaries,40000,0,North,2023-01
3,2023-01-20,Operations,Utilities,15000,0,North,2023-01
4,2023-02-05,Sales,Travel,20000,210000,East,2023-02

In [6]:
# Convert Period to string so SQL can handle it
df['Month'] = df['Month'].astype(str)

In [7]:
import sqlite3

conn = sqlite3.connect("finance.db")

df.to_sql("financials", conn, if_exists="replace", index=False)

print("Table created successfully")

Table created successfully